
// EventsColumns


.recEventsColumnItem{
  height: 70px;
  padding: 5px;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: #E2ECF5;
  box-sizing: border-box;
  border-left: 2px #6E9ECF solid;
}